*{
    box-sizing: border-box;
}
body{
    
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    background-color: #ffeede;
}

main{
width: 35rem;
height: 83rem;
background-color: white;
border-radius: 18px;
box-shadow: 0 10px 10px ;
 margin: 5rem;
 line-height: 18px;
 padding: 1rem;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  

}

img{
    border-radius: 10px;

}
div.img{
display: flex;
justify-content: center;
}


h2{
    color: #7B3B2E;
    margin: 0.2rem;
}

 table, tr, td{
    margin:20px;
    border-bottom: 0.1px black solid;
    border-collapse: collapse;
padding: 15px;
width: 80%;
}

div.div{
    background-color: #F5F0F5;
    width: 28rem;
height: 7rem;
    margin: 0.5rem;
    border-radius: 15px;
}
h2[class]{
    color: #5C3D8F;
    font-size: 1.2rem;
}
table td[class]{
    color: #7B3B2E;
}
